* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* NAVBAR */
header {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
}

.navListContainer {
  display: flex;
  gap: 10px;
  font-size: 15px;
  margin: 10px 0px;
}
.websiteNameContainer {
  display: flex;
  gap: 10px;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 20px;
  background-color: #18181b;
  color: rgb(223, 223, 223);
}

a {
  color: rgb(223, 223, 223);
}

/* PAGES */

.pageIntroContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 7px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #27272a;
  border: 1px solid #3f3f46;
}

.addTaskContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding: 13px 10px;
  border-radius: 5px 5px 0px 0px;
  background-color: #27272a;
  border: 1px solid #3f3f46;
  display: flex;
  justify-content: space-between;
  border-bottom: none;
  gap: 50px;
}

#inputField {
  background-color: #f1f1f1;
  border: 1px solid #3f3f46;
  border-radius: 5px;
  height: 30px;
  padding: 5px 10px;
  flex-grow: 1;
}

#quantityField {
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
  max-width: 70px;
  text-align: center;
  padding: 0px 10px;
}

#quantityField:focus {
  outline: none;
}

#quantityField::-webkit-inner-spin-button,
#quantityField::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#subtractFromQuantityBtn,
#addToQuantityBtn {
  border: none;
  border-radius: 50px;
  background-color: transparent;
  padding: 5px 10px;
  font-size: 20px;
}

#subtractFromQuantityBtn:hover,
#addToQuantityBtn:hover {
  cursor: pointer;
}

.rightTaskSideContainer {
  display: flex;
  gap: 20px;
}

#addItemToListBtn {
  background-color: #f4f4f4;
  border: 1px solid #3f3f46;
  border-radius: 5px;
  height: 30px;
  padding: 5px 10px;
  text-align: center;
  flex-shrink: 0;
}

.quantityContainer {
  background-color: #f4f4f4;
  border: 1px solid #505058;
  border-radius: 50px;
  height: 30px;
  display: flex;
  align-items: center;
}

#categoryField {
  background-color: #f4f4f4;
  border: 1px solid #3f3f46;
  border-radius: 5px;
  height: 30px;
  padding: 5px 10px;
}

#categoryField:focus {
  outline: none;
}

.listItemContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #222225;
  border: 1px solid #3f3f46;
  display: flex;
  justify-content: space-between;
}

.listRightSideContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.listRightSideContainer p {
  background-color: #242424;
  border: 1px solid #3f3f46;
  border-radius: 5px;
  height: 30px;
  padding: 5px 10px;
  text-align: center;
}

.trackerBarContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 7px 10px;
  border-radius: 0px 0px 5px 5px;
  background-color: #27272a;
  border: 1px solid #3f3f46;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#updateQuantity {
  width: 70px;
  padding: 2px 3px;
  border-radius: 5px;
}

#updateQuantityBtn {
  background-color: rgb(213, 213, 213);
  border: 1px solid #868686;
  color: rgb(0, 0, 0);
  padding: 3px 7px;
  border-radius: 5px;
}

.hidden {
  display: none;
}
